extends default

block content
  div.container
    each parrilla in parrillas
        div.parrilla
            each image in parrilla.imgSrc
                div.parrilla-image(style=`background: url('/images/${image}') top center no-repeat; background-size: cover;`)
            h2.parrilla-name
                | #{parrilla.name}
            a(href=`/profile?id=${parrilla.id}`)
                | Ver Parilla